aiohttp==3.8.4 ; python_version >= "3.9" and python_version < "4"
aiosignal==1.3.1 ; python_version >= "3.9" and python_version < "4"
asn1crypto==1.5.1 ; python_version >= "3.9" and python_version < "4.0"
async-timeout==4.0.2 ; python_version >= "3.9" and python_version < "4"
attrs==23.1.0 ; python_version >= "3.9" and python_version < "4"
base58==2.1.1 ; python_version >= "3.9" and python_version < "4"
base58check==1.0.2 ; python_version >= "3.9" and python_version < "4.0"
bases==0.2.1 ; python_version >= "3.9" and python_version < "4.0"
beautifulsoup4==4.12.2 ; python_version >= "3.9" and python_version < "4.0"
bech32==1.2.0 ; python_version >= "3.9" and python_version < "4.0"
bip-utils==2.7.1 ; python_version >= "3.9" and python_version < "4.0"
bitarray==2.7.6 ; python_version >= "3.9" and python_version < "4"
blinker==1.6.2 ; python_version >= "3.9" and python_version < "4.0"
cachelib==0.9.0 ; python_version >= "3.9" and python_version < "4.0"
cbor2==5.4.6 ; python_version >= "3.9" and python_version < "4.0"
certifi==2023.5.7 ; python_version >= "3.9" and python_version < "4.0"
cffi==1.15.1 ; python_version >= "3.9" and python_version < "4.0"
charset-normalizer==3.2.0 ; python_version >= "3.9" and python_version < "4.0"
click==8.1.5 ; python_version >= "3.9" and python_version < "4.0"
coincurve==17.0.0 ; python_version >= "3.9" and python_version < "4.0"
colorama==0.4.6 ; python_version >= "3.9" and python_version < "4.0" and platform_system == "Windows"
crcmod==1.7 ; python_version >= "3.9" and python_version < "4.0"
cryptography==41.0.1 ; python_version >= "3.9" and python_version < "4.0"
cytoolz==0.12.1 ; python_version >= "3.9" and python_version < "4"
ecdsa==0.18.0 ; python_version >= "3.9" and python_version < "4.0"
ed25519-blake2b==1.4 ; python_version >= "3.9" and python_version < "4.0"
eth-abi==2.2.0 ; python_version >= "3.9" and python_version < "4"
eth-account==0.5.9 ; python_version >= "3.9" and python_version < "4"
eth-hash==0.3.3 ; python_version >= "3.9" and python_version < "4"
eth-hash[pycryptodome]==0.3.3 ; python_version >= "3.9" and python_version < "4"
eth-keyfile==0.5.1 ; python_version >= "3.9" and python_version < "4"
eth-keys==0.3.4 ; python_version >= "3.9" and python_version < "4"
eth-rlp==0.2.1 ; python_version >= "3.9" and python_version < "4"
eth-typing==2.3.0 ; python_version >= "3.9" and python_version < "4"
eth-utils==1.10.0 ; python_version >= "3.9" and python_version < "4"
filetype==1.2.0 ; python_version >= "3.9" and python_version < "4.0"
flask-caching==2.0.2 ; python_version >= "3.9" and python_version < "4.0"
flask-cors==3.0.10 ; python_version >= "3.9" and python_version < "4.0"
flask==2.3.2 ; python_version >= "3.9" and python_version < "4.0"
frozenlist==1.4.0 ; python_version >= "3.9" and python_version < "4"
gevent-websocket==0.10.1 ; python_version >= "3.9" and python_version < "4.0"
gevent==22.10.2 ; python_version >= "3.9" and python_version < "4.0"
gql==2.0.0 ; python_version >= "3.9" and python_version < "4.0"
graphql-core==2.3.2 ; python_version >= "3.9" and python_version < "4.0"
greenlet==2.0.2 ; python_version >= "3.9" and python_version < "4.0"
gunicorn==20.1.0 ; python_version >= "3.9" and python_version < "4.0"
hexbytes==0.3.1 ; python_version >= "3.9" and python_version < "4"
idna==3.4 ; python_version >= "3.9" and python_version < "4.0"
importlib-metadata==6.8.0 ; python_version >= "3.9" and python_version < "3.10"
ipfshttpclient==0.8.0a2 ; python_version >= "3.9" and python_version < "4"
itsdangerous==2.1.2 ; python_version >= "3.9" and python_version < "4.0"
jinja2==3.1.2 ; python_version >= "3.9" and python_version < "4.0"
jsonschema-specifications==2023.6.1 ; python_version >= "3.9" and python_version < "4"
jsonschema==4.18.3 ; python_version >= "3.9" and python_version < "4"
lru-dict==1.2.0 ; python_version >= "3.9" and python_version < "4"
markupsafe==2.1.3 ; python_version >= "3.9" and python_version < "4.0"
marshmallow==3.19.0 ; python_version >= "3.9" and python_version < "4.0"
maxminddb==2.2.0 ; python_version >= "3.9" and python_version < "4.0"
miniupnpc==2.0.2 ; python_version >= "3.9" and python_version < "4.0" and sys_platform != "win32"
miniupnpc==2.2.3 ; python_version >= "3.9" and python_version < "4.0" and sys_platform == "win32"
more-itertools==9.1.0 ; python_version >= "3.9" and python_version < "4"
multiaddr==0.0.9 ; python_version >= "3.9" and python_version < "4"
multidict==6.0.4 ; python_version >= "3.9" and python_version < "4"
multiformats-config==0.2.0.post4 ; python_version >= "3.9" and python_version < "4.0"
multiformats==0.2.1 ; python_version >= "3.9" and python_version < "4.0"
netaddr==0.8.0 ; python_version >= "3.9" and python_version < "4"
packaging==23.1 ; python_version >= "3.9" and python_version < "4.0"
parsimonious==0.8.1 ; python_version >= "3.9" and python_version < "4"
polyleven==0.8 ; python_version >= "3.9" and python_version < "4.0"
promise==2.3 ; python_version >= "3.9" and python_version < "4.0"
protobuf==3.19.5 ; python_version >= "3.9" and python_version < "4"
py-bip39-bindings==0.1.11 ; python_version >= "3.9" and python_version < "4.0"
py-ed25519-zebra-bindings==1.0.1 ; python_version >= "3.9" and python_version < "4.0"
py-sr25519-bindings==0.2.0 ; python_version >= "3.9" and python_version < "4.0"
pycparser==2.17 ; python_version >= "3.9" and python_version < "4.0"
pycryptodome==3.18.0 ; python_version >= "3.9" and python_version < "4.0"
pynacl==1.5.0 ; python_version >= "3.9" and python_version < "4.0"
pysha3==1.0.2 ; python_version >= "3.9" and python_version < "4.0"
python-dotenv==1.0.0 ; python_version >= "3.9" and python_version < "4.0"
pywin32==306 ; python_version >= "3.9" and python_version < "4" and platform_system == "Windows"
referencing==0.29.1 ; python_version >= "3.9" and python_version < "4"
requests==2.31.0 ; python_version >= "3.9" and python_version < "4.0"
rlp==2.0.1 ; python_version >= "3.9" and python_version < "4"
rotkehlchen @ git+https://github.com/rotki/rotki.git@42d7eae113274e3b18fe4b9a61160b155eefdf2d ; python_version >= "3.9" and python_version < "4.0"
rotki-content-hash==0.0.3 ; python_version >= "3.9" and python_version < "4.0"
rotki-pysqlcipher3==2022.8.1 ; python_version >= "3.9" and python_version < "4.0"
rpds-py==0.8.10 ; python_version >= "3.9" and python_version < "4"
rx==1.6.3 ; python_version >= "3.9" and python_version < "4.0"
scalecodec==1.2.6 ; python_version >= "3.9" and python_version < "4"
setuptools==68.0.0 ; python_version >= "3.9" and python_version < "4.0"
six==1.16.0 ; python_version >= "3.9" and python_version < "4.0"
soupsieve==2.4.1 ; python_version >= "3.9" and python_version < "4.0"
substrate-interface==1.7.3 ; python_version >= "3.9" and python_version < "4"
toolz==0.12.0 ; python_version >= "3.9" and python_version < "4"
typing-extensions==4.5.0 ; python_version >= "3.9" and python_version < "4.0"
typing-validation==1.0.0.post2 ; python_version >= "3.9" and python_version < "4.0"
urllib3==1.26.14 ; python_version >= "3.9" and python_version < "4.0"
varint==1.0.2 ; python_version >= "3.9" and python_version < "4"
web3==5.31.3 ; python_version >= "3.9" and python_version < "4"
webargs==8.2.0 ; python_version >= "3.9" and python_version < "4.0"
websocket-client==1.6.1 ; python_version >= "3.9" and python_version < "4"
websockets==9.1 ; python_version >= "3.9" and python_version < "4"
werkzeug==2.3.3 ; python_version >= "3.9" and python_version < "4.0"
wsaccel==0.6.3 ; python_version >= "3.9" and python_version < "4.0"
xxhash==3.2.0 ; python_version >= "3.9" and python_version < "4"
yarl==1.9.2 ; python_version >= "3.9" and python_version < "4"
zipp==3.16.2 ; python_version >= "3.9" and python_version < "3.10"
zope-event==5.0 ; python_version >= "3.9" and python_version < "4.0"
zope-interface==6.0 ; python_version >= "3.9" and python_version < "4.0"
